@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-neutral-900 antialiased;
  font-family: 'Inter', sans-serif;
}

::selection {
  background: #000;
  color: #fff;
}
